<center><h1>Student Show Page</h1></center>


<p></p>

<h3> First Name: <%= @student.first_name %> </h3>

<h3> Last Name: <%= @student.last_name %> </h3>

<p></p>

<center><a href='<%= @student.id %>/edit'> Click here to edit student</a></center>

<p></p>


<center><a href='/students'> Click here to return to student list</a></center>
